*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#050816;
color:#fff;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
border-bottom:2px solid #00ffff;
position:sticky;
top:0;
}

.logo{
font-size:30px;
font-weight:bold;
color:#00ffff;
text-shadow:0 0 15px cyan;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-size:18px;
transition:.3s;
}

nav a:hover{
color:#00ffff;
}

.banner{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("https://images.unsplash.com/photo-1542751371-adc38448a05e?auto=format&fit=crop&w=1400&q=80");
background-size:cover;
background-position:center;
}

.banner h1{
font-size:50px;
color:#00ffff;
text-shadow:0 0 20px cyan;
}

.banner p{
font-size:22px;
margin:15px 0;
}

button{
padding:15px 35px;
background:#00ffff;
border:none;
border-radius:30px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#ff00ff;
color:white;
transform:scale(1.08);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:20px;
padding:50px;
}

.card{
background:#111827;
padding:25px;
border-radius:15px;
border:2px solid #00ffff;
text-align:center;
box-shadow:0 0 15px rgba(0,255,255,.4);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px cyan;
}

.card h2{
margin-bottom:15px;
color:#00ffff;
}

.about{
padding:60px 20px;
text-align:center;
}

.about h2{
color:#00ffff;
margin-bottom:25px;
}

.about ul{
list-style:none;
}

.about li{
font-size:20px;
margin:12px 0;
}

footer{
background:#111827;
padding:20px;
text-align:center;
margin-top:40px;
border-top:2px solid #00ffff;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:block;
margin:10px 0;
}

.banner h1{
font-size:35px;
}

.cards{
padding:20px;
}

  }
